* {margin: 0px;}

.sombrero
{
    background-color: chocolate;
    width: 250px;
    height: 140px;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.sombrero1 
{
    background-color: chocolate;
    width: 600px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.nombre 
{
    color: black;
    font-size: 27px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    top: -10px;
    left: 180px;
}

.cara 
{
    background-color: brown;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
}

.ojoizquierdo 
{
    background-color: yellow;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 80px;
}

.ojoderecho 
{
    background-color: yellow;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 190px;
}

.pupila 
{
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}

.boca 
{
    background-color: greenyellow;
    width: 200px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    left: 75px;
}

.interiorboca 
{
    background-color: blue;
    width: 160px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}
.corbata
{
    background-color: darkcyan;
    width: 400px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 33%;
    transform: translateX(-33%);
}
.corbata1
{
    background-color: darkcyan;
    width: 130px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
}
.corbata2
{
    background-color: darkcyan;
    width: 400px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 67%;
    transform: translateX(-67%);
}

